body {
	background-image: url(img/background.jpg);
	font-family: Copperplate, fantasy ;
	color: #336699;
}
.transparent {
	color: #00ff00;
}
.transparent a {
	color: #00ff00;
}
a{
	text-decoration: underline;
}

header {
	font-size: 30px;
}
.logo {
	font-weight: 10px;
	color: #d9d9d9;
}

h1 {
	font-size: 40px;
}

.release {
	font-size: 30px;
}