body {
	background-image: url(img/backgroud.jpg);
	font-family: Copperplate, fantasy ;
	color: #d9d9d9;
}
.transparent {
	color: #4d0099;
}
.transparent a {
	color: #4d0099
;
}
a{
	text-decoration: underline;
}

header {
	font-size: 30px;
}
.logo {
	font-weight: 10px;
}

h1 {
	font-size: 40px;
}

.release {
	font-size: 30px;
}